#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
	background-color: #000000;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}
